html, body {
  margin:0;
  padding:0;
}


#infinitiv, #praesens, #praeteritum, #perfekt {
  padding: 1.8%;
  font-size: 300%; 
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid green;
  width: 90%;
}

#praesens::placeholder, #praeteritum::placeholder, #perfekt::placeholder {
  font-style: italic;
  color: lightgray;
}
