body {
  margin:0;
  padding:0
}


#infinitiv, #praesens, #praeteritum, #perfekt {
  padding: 4vw;
  font-size: 10vw; /* Won't work in landscape mode */
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid green;
  width: 95%;
}

#praesens::placeholder, #praeteritum::placeholder, #perfekt::placeholder {
  font-style: italic;
  color: lightgray;
}
