body {
  margin:0;
  padding:0
}

#infinitiv, #praesens, #praeteritum, #perfekt {
  padding: 1.9vh;
  font-size: 7vh;
  border: 0;
  outline: 0;
  background: transparent;
  border-bottom: 1px solid green;
  width: 100%;
}

#praesens::placeholder, #praeteritum::placeholder, #perfekt::placeholder {
  font-style: italic;
  color: lightgray;
}
